@use '../custom' as *;

.contact {
    i {
        color: $primary-section;
        font-size: 2rem;
        font-weight: 400;
    }

    h3 {
        font-weight: 600;
        font-size: 1.4rem;
        color: $primary;
    }

    .form-group {
        input, textarea {
            background-color: $gray-300;
            color: $secondary-section;
            font-weight: 800;
        }
    }
}

