@use '../custom' as *;
@use '../components/mixins' as *;

html {
    scroll-behavior: smooth;
}

.menu { 
    @include gradient;

    li {
        padding: 0 0.7rem;

        a {
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
            transition: 400ms all linear;
        }
    }
}