.service-one {
    background-color: wheat;
    padding: 1.75rem;
}

.service-one:hover {
    background-color: sandybrown;
    padding: 1.75rem;
}

.service-two {
    background-color: skyblue;
    padding: 1.75rem;
}

.service-two:hover {
    background-color: royalblue;
    padding: 1.75rem;
}

.service-three {
    background-color: wheat;
    padding: 1.75rem;
}

.service-three:hover {
    background-color: sandybrown;
    padding: 1.75rem;
}

.service-four {
    background-color: skyblue;
    padding: 1.75rem;
}

.service-four:hover {
    background-color: royalblue;
    padding: 1.75rem;
}

.service-five {
    background-color: wheat;
    padding: 1.75rem;
}

.service-five:hover {
    background-color: sandybrown;
    padding: 1.75rem;
}