@use '../custom' as *;

@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.85), rgba($secondary, 0.9));
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin boxShadow {
    box-shadow: .15rem .3rem .3rem .15rem rgba($color: $black, $alpha: .45);
}